h2 {
    font-size: 30pt;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}